body {
    background-color: rgb(118, 138, 85);
}

.top {
    background-color: rgb(5, 5, 5);
}

.score {
    color: rgb(118, 138, 85);
    text-align: center;
}

.board {
    background-color: black;
    margin-top: 40px;
    height: 440px;
    display: grid;
    grid-template-columns: repeat(12,1fr);
}

.board > div {
    background-color: red;
    height: 50px;

}


/* .red {
    background-color: red;
    grid-template-columns: 10px;
    color: rgb(9, 8, 8);
    margin: 2px;
    padding: 2px;
    border-radius: 2px;
} */

/* .grid {
    background-color: white;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    padding: 8px;
    width: 100%
}
 */
